.vacation-list-item {
  background: #fff;
  border: .05rem solid #e7e9ed;
  border-radius: .1rem;
  padding: .8rem;
  margin-bottom: .1rem;
  display: flex;
}
.vacation-list-item:hover {
  background: #A6B0BC;
}
.vacation-detail-link,
.vacation-detail-link:active,
.vacation-detail-link:visited {
  color: #516977;
  text-decoration: none;
}
.circle:before {
  content: ' \25CF';
  font-size: 1.5rem;
}
.circle.new {
  color: #D2EFFD;
}
.circle.approved {
  color: #65E39F;
}
.circle.rejected {
  color: #FFB3B3;
}
.name {
  flex: 1;
  text-align: center;
}
